body, h1, h2 {
    margin: 0;
    padding: 0;
    font-weight: inherit;
    font-size: 100%;
}

body {
    /*background: #fafcff;*/
    font-family: "Lucida Grande", Verdana, sans-serif;
    font-size: 10px;
}

#feed-content {
    padding: 10px 10px 10px;
}

#message-box {
    -moz-user-select: none;
    padding: 0 15px;
}

#main-message {
    margin-top: 200px;
    text-align: center;
    font-size: 19px;
    color: #274b5d;
}

#secondary-message {
    margin: 75px auto 0;
    max-width: 500px;
    text-align: center;
    font-size: 14px;
    color: #4b606c;
}


#article-template {
    display: none;
}

.search-highlight {
    border: 1px solid #45e500;
    -moz-border-radius: 3px;
    color: black;
    background-color: #adff89;
}

/* ----------------------  Entry content  ---------------------- */

.content {
    padding: 10px 25px 25px;
    overflow: auto;
    color: #404040;
    font-size: 13px;
    line-height: 1.4;
    text-align: justify;
}

.content:empty {
    padding: 0 0 10px !important;
}

/* Reset the top margin, so that the gap between
   header and content is always the same */
.content > *:first-child {
    margin-top: 0 !important;
}

.content a {
    color: #003b73;
}

.content a:visited {
    color: #4b667e;
}

img {
    margin: 0.75em;
}

blockquote {
    font-style: italic;
}

pre, code {
    font-family: "Courier New", monospace;
    font-size: 1em;
    white-space: pre-wrap;
    width: -moz-available;
}


/* ----------------------  Item controls ------------------- */

.controls {
    display: -moz-box;
    -moz-box-align: center;
}

.controls > * {
    display: -moz-box;
}

.mark-read {
    -moz-box-align: center;
    -moz-box-pack: center;
    height: 25px;
    min-width: 84px;
    margin-right: 3px;
    border-width: 0 7px;
    -moz-border-image: url(chrome://brief/skin/mark-read-button-normal.png) 0 6 stretch;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #326585;
    cursor: default;
    -moz-user-select: none;
}

.mark-read:hover {
    -moz-border-image: url(chrome://brief/skin/mark-read-button-hover.png) 0 6 stretch;
}

.mark-read:active {
    -moz-border-image: url(chrome://brief/skin/mark-read-button-active.png) 0 6 stretch;
}

.delete, .restore {
    width: 29px;
    height: 25px;
}

.delete {
    background-image: url(chrome://brief/skin/delete-button.png);
}

.restore {
    background-image: url(chrome://brief/skin/restore-button.png);
}

.delete:hover,
.restore:hover {
    background-position: 0 -25px;
}

.delete:active,
.restore:active {
    background-position: 0 -50px;
}

.bookmark {
    width: 24px;
    height: 24px;
    margin: -6px 2px 0 -24px;
    background: url(chrome://brief/skin/icons/entry-star.png) no-repeat;
    background-position: 0 5px;
}

article:not(.starred) .bookmark:hover {
    background-position: -24px 5px;
}

article:not(.starred) .bookmark:active:hover {
    background-position: -48px 5px;
}

article.starred .bookmark {
    background-position: -48px 5px;
}

article.starred .bookmark:hover {
    background-position: -72px 5px;
}

article.starred .bookmark:active:hover {
    background-position: -96px 5px;
}


/* --------- Transitions ------------ */

article[removing] {
    -moz-transition: opacity 250ms;
    opacity: 0;
}

*[hiding] {
    -moz-transition-property: opacity, height;
    -moz-transition-duration: 250ms;
    overflow: hidden;
}

*[showing] {
    -moz-transition-property: opacity, height;
    -moz-transition-duration: 250ms;
    overflow: hidden;
}
