#article-template {
    display: none;
}

#feed-content[trash] .delete-entry {
  display: none;
  }

#feed-content:not([trash]) .restore-entry {
  display: none;
  }

/* ----------------------  Article button images ------------------- */
.article-controls > * {
  display: inline-block;
}

.mark-read {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #326585;
  text-align: center;
  cursor: default;
  -moz-user-select: none;
  margin-right: 3px;
}

.mark-read > * {
  display: table-cell;
  height: 25px;
}

.mark-read-left, .mark-read-right {
  background-image: url(chrome://brief/skin/mark-read-button-endcaps.png);
  width: 7px;
}

.mark-read-centre {
  background-image: url(chrome://brief/skin/mark-read-button-centre.png);
  padding: 0 1px;
  min-width: 70px;
  vertical-align: middle;
}

.mark-read-right {
  background-position: -7px 0;
}

.mark-read:hover > .mark-read-right {
  background-position: -7px -25px;
}

.mark-read:active > .mark-read-right {
  background-position: -7px -50px;
}

.mark-read:hover > .mark-read-centre,
.mark-read:hover > .mark-read-left {
  background-position: 0 -25px;
}

.mark-read:active > .mark-read-centre,
.mark-read:active > .mark-read-left {
  background-position: 0 -50px;
}

.delete-entry, .restore-entry {
  width: 29px;
  height: 25px;
}

.delete-entry {
  background-image: url(chrome://brief/skin/delete-button.png);
}

.restore-entry {
  background-image: url(chrome://brief/skin/restore-button.png);
}

.delete-entry:hover,
.restore-entry:hover {
  background-position: 0 -25px;
}

.delete-entry:active,
.restore-entry:active {
  background-position: 0 -50px;
}

.article-star {
    background: url(chrome://brief/skin/icons/entry-star.png) no-repeat;
    background-position: 0 5px;
    -moz-user-select: none; /* Prevent selecting the title when clicking */
}

.article-container:not([starred]) .article-star:hover {
    background-position: -24px 5px;
}

.article-container:not([starred]) .article-star:active:hover {
    background-position: -48px 5px;
}

.article-container[starred] .article-star {
    background-position: -48px 5px;
}

.article-container[starred] .article-star:hover {
    background-position: -72px 5px;
}

.article-container[starred] .article-star:active:hover {
    background-position: -96px 5px;
}


/* ----------------------  Article content area   ---------------------- */

/* Reset the top margin, so that the gap between
   header and content is always the same */
.article-content > *:first-child {
  margin-top: 0 !important;
}

.article-content img {
  margin: 0.75em;
}

blockquote {
  font-style: italic;
}

pre, code {
  font-family: "Courier New", monospace;
  font-size: 1em;
  white-space: pre-wrap;
  width: -moz-available;
}

.search-highlight {
    color: black;
    background-color: #adff89;
    border: 1px solid #45e500;
    padding: 0 3px;
    -moz-border-radius: 3px;
}

/* ----------------------  Adjustments for headlines view   ---------------------- */

.article-container[collapsed] .article-controls,
.article-container[collapsed] .article-subheader {
  display: none;
}

.collapsed-article-subheader {
    display: none;
}

.article-container[collapsed] .collapsed-article-subheader {
    display: block;
}

/* Shows controls on hover */
.article-container[collapsed]:hover .article-controls {
  display: table-cell;
}

/* Turn on expand arrow in headlines view */
#feed-content[showHeadlinesOnly] .expand-button {
  display: block;
}

#feed-content[showHeadlinesOnly] {
  padding-left: 30px; /* Makes space for the expand button */
}

/* Display the expand arrow when hovering an article */
#feed-content[showHeadlinesOnly] > .article-container:hover .expand-button {
  background: url(chrome://brief/skin/icons/expand-button.png) no-repeat;
  background-position: 5px 5px;
}
