article.full {
    min-width: -moz-min-content;
    max-width: 700px;
    margin: 0 auto;
}

article.full > .headline-container {
    display: none;
}

.full-container {
    margin: 20px 0 20px; /* The margins are collapsed in full view but are necessary if headlines view */
    border: 1px solid #abbfc9;
    padding-right: 1px;
    background: linear-gradient(to bottom , rgba(229, 244, 255, 1), rgba(229, 244, 255, 0) 35px);
    background-clip: padding-box;
    transition: border-color 200ms;
}

article.selected > .full-container {
    border-right: 2px solid #3e8fb7;
    padding-right: 0;
}

article.read > .full-container {
    background: none;
}

article.read .title-link {
    color: #404040;
}


/* ----------------------  Article header  ---------------------- */

.header {
    display: -moz-box;
    -moz-box-align: start;
    width: -moz-available;
    margin-bottom: 5px;
    padding: 7px 5px 0 25px;
}

.title {
    -moz-box-flex: 1;
}

.title-link {
    color: #475059;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color 170ms;
}

.title-link:hover {
    border-bottom-color: #475059;
}

.controls {
    margin: -2px 0 0 5px;
}


/* ----------------------  Article subheader  ---------------------- */

.subheader, .subheader-left, .subheader-right,
.feed-name, .tags, .date, .updated-label, .authors {
    display: -moz-box;
}

.subheader {
    width: -moz-available;
    margin: 5px 10px 5px 25px;
    font-size: 13px;
    font-family: Arial, sans-serif;
    line-height: 17px; /* Make the height the same for both Lucida and Verdana */
    color: #7c7c7c;
}

.subheader-right {
    -moz-box-flex: 1;
    -moz-box-pack: end;
}

.subheader-left {
    -moz-box-flex: 1;
    -moz-box-orient: vertical;
}

.date {
    margin-left: 4px;
}

.authors:not(:empty):after {
    content: " •";
}

body:not(.multiple-feeds) .feed-name {
    display: none;
}

.tags {
    padding-left: 20px;
    background: url(chrome://brief/skin/icons/tag.png) 1px no-repeat;
}

.tags:not(:empty) {
    margin-top: 2px;
}

.updated-label {
    margin-left: 5px;
    color: #de5b00;
}

article:not(.updated) .updated-label {
    display: none;
}