article.full {
    min-width: -moz-min-content;
    max-width: 700px;
    margin: 0 auto;
}

article.full > .headline-container {
    display: none;
}

.full-container {
    margin: 5px 0 5px; /* The margins are collapsed in full view but are necessary if headlines view */
    background: -moz-linear-gradient(top, rgba(211, 231, 242, 1), rgba(211, 231, 242, 0) 35px) #ffffff;
    background-clip: padding-box;
    border: 6px solid #d8dadc;
    -moz-border-top-colors: transparent transparent transparent transparent transparent #abbfc9;
    -moz-border-right-colors: #fafcff #fafcff #f7f9fc #f3f5f8 #f3f5f8 #d8dadc;
    -moz-border-bottom-colors: #fafcff #fafcff #f7f9fc #f3f5f8 #f3f5f8 #d8dadc;
    -moz-border-left-colors: #fafcff #fafcff #f7f9fc #f3f5f8 #f3f5f8 #d8dadc;
    border-radius: 9px;
}

article.selected > .full-container {
    border-top: 1px solid #abbfc9;
    border-right: 1px solid #d8dadc;
    border-bottom: 1px solid #d8dadc;
    border-left: 1px solid #d8dadc;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-radius: 4px;
    margin: 10px 5px 10px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
}

article.read > .full-container {
    background-image: -moz-linear-gradient(top, rgba(235, 238, 243, 1), rgba(235, 238, 243, 0) 35px);
}

article.read .title-link {
    color: #404040;
}


/* ----------------------  Article header  ---------------------- */

.header {
    display: -moz-box;
    -moz-box-align: start;
    width: -moz-available;
    margin-bottom: 5px;
    padding: 7px 5px 0 24px;
}

.header > .bookmark-button {
    margin: -5px 2px 0 -24px;
}

.title {
    -moz-box-flex: 1;
}

.title-link {
    color: #05447e;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.controls {
    margin: -2px 0 0 5px;
}


/* ----------------------  Article subheader  ---------------------- */

.subheader, .subheader-left, .subheader-right {
    display: -moz-box;
}

.feed-name, .tags, .date, .updated, .authors {
    display: inline-block;
}

.subheader {
    width: -moz-available;
    margin: 5px 10px 5px 40px;
    font-size: 12px;
    font-family: Arial, sans-serif;
    line-height: 17px; /* Make the height the same for both Lucida and Verdana */
    color: #2a7d00;
}

.subheader-right {
    -moz-box-flex: 1;
    -moz-box-pack: end;
}

.subheader-left {
    -moz-box-flex: 1;
    -moz-box-orient: vertical;
}

.date {
    margin-left: 4px;
}

.authors:not(:empty):after {
    content: " •";
}

body:not(.multiple-feeds) .feed-name {
    display: none;
}

.tags {
    padding-left: 20px;
    background: url(chrome://digest/skin/icons/tag.png) 1px no-repeat;
}

.tags:not(:empty) {
    margin-top: 2px;
}

.updated {
    margin-left: 5px;
    color: #de5b00;
}

.updated:empty {
    display: none;
}
