article.full {
    min-width: -moz-min-content;
    max-width: 700px;
    margin: 0 auto;
}

article.full > .headline-container {
    display: none;
}

.full-container {
    margin: 10px 0;
    border-width: 0 6px 6px;
    -moz-border-image: url(chrome://brief/skin/article-border.png) 6 repeat;
    background: -moz-linear-gradient(top, rgba(211, 231, 242, 1), rgba(211, 231, 242, 0.5) 24px, rgba(211, 231, 242, 0) 40px) #ffffff;
    background-clip: padding-box;
}

article.selected > .full-container {
    border-right: 1px solid #d8dadc;
    border-bottom: 1px solid #d8dadc;
    border-left: 1px solid #d8dadc;
    -moz-border-image: none;
    margin: 10px 5px 15px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
}

article.read > .full-container {
    background-image: -moz-linear-gradient(top, rgba(235, 238, 243, 1), rgba(235, 238, 243, 0.5) 24px, rgba(235, 238, 243, 0) 40px);
}

article.read .title-link {
    color: #404040;
}


/* ----------------------  Article header  ---------------------- */

.header {
    display: -moz-box;
    -moz-box-align: start;
    width: -moz-available;
    margin-bottom: 5px;
    padding: 7px 5px 0 24px;
    border-top: 1px #abbfc9 solid;
}

.title {
    -moz-box-flex: 1;
}

.title-link {
    color: #05447e;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.full-container .controls {
    margin: -2px 0 0 5px;
}


/* ----------------------  Article subheader  ---------------------- */

.subheader, .subheader-left, .subheader-right,
.feed-name, .tags, .date, .authors {
    display: -moz-box;
}

.subheader {
    width: -moz-available;
    margin: 5px 10px 5px 40px;
    font-size: 12px;
    line-height: 17px; /* Make the height the same for both Lucida and Verdana */
    color: #2a7d00;
}

.subheader-right {
    -moz-box-flex: 1;
    -moz-box-pack: end;
}

.subheader-left {
    -moz-box-flex: 1;
    -moz-box-orient: vertical;
}

.date {
    margin-left: 4px;
}

.authors:not(:empty):after {
    content: " •";
}

body:not(.multiple-feeds) .feed-name {
    display: none;
}

.tags {
    padding-left: 20px;
    background: url(chrome://brief/skin/icons/tag.png) 1px no-repeat;
}

.tags:not(:empty) {
    margin-top: 2px;
}

.updated {
    color: #de5b00;
}