#show-shortcuts image {
    display: none;
}

.article-controls > button {
  opacity: 1.0 !important;
  margin-top: 1px !important;
}

#feed-list treechildren::-moz-tree-image(container, primary) {
  list-style-image: url('chrome://browser/skin/bookmarks/bookmark-folder.png') !important;
  -moz-image-region: auto;
}

#feed-list treechildren::-moz-tree-image(feed-item, unread) {
  list-style-image: url('chrome://browser/skin/livemark-item.png') !important;
  -moz-image-region: rect(18px, 35px, 34px, 19px) !important;
}

.onlyMac {
    display: inline !important;
}

.noMac {
    display: none;
}
