#feed-view-header {
    align-items: center;
    height: 36px !important;
    padding: 0 10px !important;
    border-bottom: 1px solid transparent !important;
    overflow: hidden;
    background: #fcfcfc !important;
    transition: border-color 170ms;
}

#feed-view-header.border {
    border-bottom-color: #d6d6d6 !important;
}


/* =========== View title =========== */

#view-title-button {
    margin-top: 5px !important;
}

#view-title-button::before {
    vertical-align: middle;

    display: inline-block;
    content: "";
    height: 18px;
    width: 18px;
    background-image: url(icons/feed-settings.png);
    background-position: 0 0;
}

#view-title-button:hover::before {
    background-position: 0 -18px;
}

#view-title-button:hover:active::before {
    background-position: 0 -36px;
}

#view-title-button::after {
    margin-left: 4px !important;
    vertical-align: middle;

    display: inline-block;
    content: "";
    height: 6px;
    width: 11px;
    background-image: url(icons/view-title-dropmarker.png);
    background-position: 0 0;
}

#view-title-button:hover::after {
    background-position: 0 -6px;
}

#view-title-button[data-dropdown=""] {
    display: none;
}

#view-title-label {
    margin: 7px 10px 0 8px !important;
    color: #606b78;
    font-size: 22px;
    font-weight: bold !important;
    flex-shrink: 1;
    min-width: 5em !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



/* =========== View type buttons =========== */

.button-spacer {
    max-width: 50px !important;
    min-width: 20px !important;
}

#mark-view-read {
    background-image: url(icons/mark-view-read.png) !important;
}

.view-button,
#mark-view-read {
    height: 22px !important;
    width: 22px !important;
    background-position: 0 0 !important;
}

.view-button:hover,
#mark-view-read:hover {
    background-position: 0 -22px !important;
}

.view-button:hover:active,
#mark-view-read:hover:active,
.view-button[data-checked=true] {
    background-position: 0 -44px !important;
}

#headlines-checkbox {
    background-image: url(icons/view-headlines.png) !important;
}

#full-view-checkbox {
    background-image: url(icons/view-full-items.png) !important;
    margin-left: 11px !important;
}



/* =========== View filter buttons =========== */

.filter-button {
    height: 23px !important;
    width: 23px !important;
    background-position: 0 0 !important;
}

.filter-button:hover {
    background-position: 0 -23px !important;
}

.filter-button:hover:active,
.filter-button[data-checked=true] {
    background-position: 0 -46px !important;
}


#show-all-entries-checkbox {
    background-image: url(icons/show-all-items.png) !important;
}

#filter-unread-checkbox {
    background-image: url(icons/show-unread-items.png) !important;
    margin-left: 11px !important;
}

#filter-starred-checkbox {
    background-image: url(icons/show-starred-items.png) !important;
    margin-left: 11px !important;
}



#searchbar {
    min-width: 75px !important;
    width: 150px !important;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 5px 0 5px 0 !important;
    padding: 0 3px 0 5px !important;
    border: 1px solid #9dabb8 !important;
    border-radius: 4px;
    font-size: 12px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    color: #4a6278 !important;
    font-style: normal !important;
}
