* {
    padding: 0;
	margin: 0;
    }

html, body {
	height: 100%;
	width: 100%;
    }

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 13px;
    background: linear-gradient(to top, #c0e3f0, #eaf6fa 50%, #eaf6fa);
    }

div {
    display: flex;
    }

#page {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 80px 10px;
    }

#header {
    align-items: flex-start;
}

#intro {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
    }

#thank-you {
    padding: 0 5px 2px 0;
    border-bottom: 1px solid #f1601a;
    margin-bottom: 8px;
    color: #ff712c;
    }

#subheader {
    color: #2c566c;
    font-size: 18px;
    max-width: 930px;
    }

#guide {
    align-items: flex-start;
    justify-content: center;
    margin-top: 40px;
    }

.step {
    flex: 0 1 360px;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    color: #00344f;
    text-align: justify;
    font-family: "Lucida Grande", Verdana, sans-serif;
    font-size: 15px;
    }

.screenshot {
    height: 160px;
    margin-bottom: 30px;
    border: 1px solid #999999;
    box-shadow: 5px 5px 5px #97b4be;
    }

.arrow-next {
    margin-top: 60px;
}

#open-brief {
    cursor: pointer;
    margin-top: 70px;
    padding: 5px 20px 8px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #ff712c;
    border: 1px solid #ff712c;
    border-radius: 10px;
    }

#open-brief:hover {
    text-shadow: 0px 0px 5px #ffad85;
    box-shadow: 0px 0px 5px #ffa060, inset 0px 0px 3px #ffa060;
    }
