input[type="number"] {
    width: 5em;
}

#custom-style-textbox {
    display: block;
    margin: 0;
    font-family: monospace;
    width: 100%;
    height: 10em;
}

#learn-more-link {
    margin: 5px 0;
    color: #0049de;
}

h2 {
    font-size: 1.2em;
}

label {
    display: block;
}

hbox.line {
    display: flex;
    align-items: baseline;
}

hbox.line > * {
    margin-right: 0.5em;
}

body {
    width: -moz-max-content;
}

.spaced {
    justify-content: space-between;
}

grid.label-field {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0.5em;
}

grid.label-field > label {
    align-self: center;
}

grid.label-field > input {
}

#navigation-line {
    margin-top: 1.5em;
}

.section-header {
    margin-top: 1em;
    margin-bottom: 0.2em;
    font-size: 1.1em;
}
