body {
    margin: 0;
}

#shortcuts-table {
    font-size: 12px;
    font-family: "Lucida Grande", Verdana, sans-serif;
    border-spacing: 0;
    margin: 0 auto;
}

td {
    padding: 4px 10px;
}

body:not([embedded="true"]) td {
    border-bottom: 1px solid lightgray;
}

.shortcut-key {
    font-weight: bold;
    text-align: center;
}

body:not([embedded="true"]) .shortcut-key {
    border-right: 1px solid lightgray;
}

.shortcuts-plain {
    font-weight: normal;
}

.shortucts-header {
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
}
