#brief-about {
  width: 35em;
  font-family: Verdana, sans-serif;
  font-size: 0.8em;
  }

#clientBox {
  background-color: #FFFFFF;
  color: #000000;
  padding: 10px;
  }

#header {
  -moz-box-align: start;
  margin-left: 2px;
  }

#icon {
  margin: 5px 5px 0 6px;
  }

#extensionName {
  font-size: large;
  font-weight: bold;
  }

#extensionVersion {
  font-weight: bold;
  color: #909090;
  }

#extensionDescription {
  color: #404040;
  }

.sectionTitle {
  border-top: 1px solid #1d272d;
  padding: 2px 0px 3px 0px;
  font-weight: bold;
  }

.section {
  margin-bottom: 8px;
  }
  
.text-link {
  -moz-user-focus: none;
  }
  
.groove {
  margin-top: 0;
  }
