#left-pane {
  width: 18em;
}

#feed-list-toolbar {
  overflow: hidden;
  }

#feed-list > treechildren {
  -moz-binding: url('chrome://brief/content/bindings.xml#feedlist-treebody');
  }

#feed-list {
  border-right: 0;
  margin: 0;
}

splitter {
  border-left: 0;
}

treechildren::-moz-tree-line {
  visibility: hidden;
  }

treechildren::-moz-tree-twisty(container) {
  list-style-image: url('icons/tree-dropmarker.png');
  width: 11px;
  height: 11px;
  }

treechildren::-moz-tree-twisty(container, open) {
  list-style-image: url('icons/tree-dropmarker-open.png');
}

treechildren::-moz-tree-row {
  height: 1.6em;
  }

treechildren::-moz-tree-cell-text(unread) {
  font-weight: bold;
  }

treechildren::-moz-tree-image(container) {
  list-style-image: url('chrome://global/skin/icons/folder-item.png') !important;
  -moz-image-region: rect(0px, 32px, 16px, 16px);
  padding-right: 4px;
  }

treechildren::-moz-tree-image(container, open) {
  -moz-image-region: rect(16px, 32px, 32px, 16px);
  }

treechildren::-moz-tree-image(feed-item) {
  list-style-image: url('chrome://browser/skin/livemark-folder.png') !important;
  -moz-image-region: rect(0px, 16px, 16px, 0px) !important;
  width: 16px;
  height: 16px;
  padding-right: 4px;
  }

treechildren::-moz-tree-image(feed-item, unread) {
  list-style-image: url('chrome://browser/skin/livemark-folder.png') !important;
  -moz-image-region: rect(16px, 16px, 32px, 0px) !important;
  }

treechildren::-moz-tree-image(unreadFolder) {
  list-style-image: url('icons/folders.png') !important;
  -moz-image-region: rect(0px, 16px, 16px, 0px);
  padding-right: 4px;
  }

treechildren::-moz-tree-image(trashFolder) {
  list-style-image: url('icons/folders.png') !important;
  -moz-image-region: rect(32px, 16px, 48px, 0px);
  padding-right: 4px;
  }

treechildren::-moz-tree-image(starredFolder) {
  list-style-image: url('icons/folders.png') !important;
  -moz-image-region: rect(16px, 16px, 32px, 0px);
  padding-right: 4px;
  }

#select-home-folder-label {
  margin: 7px 0 7px 5px;
  min-width: 0;
}

#bookmark-folders-tree {
  max-height: 400px;
}

#confirm-home-folder {
  margin: 5px 3px 5px 0;
  width: 100px;
}

#left-pane-grippy {
  -moz-binding: none;
  width: 4px;
}

#left-pane-grippy:hover {
  background-color: #ff7312;
}

/*        Toolbars          */

toolbar, toolbaritem {
  -moz-box-align: center;
  }

toolbarbutton {
  padding: 5px 0 4px 4px;
  }

#feed-view-toolbar {
  padding: 0 10px 0 10px;
  }

#searchbar-container {
  min-width: 10em;
  max-width: 20em;
  }

#searchbar {
  -moz-binding: url('chrome://brief/content/bindings.xml#searchbar');
  }

#update-button {
  list-style-image: url('toolbar/updateFeeds.png');
  }

#stop-updating-button {
  list-style-image: url('toolbar/stopUpdating.png');
  }

#options-button {
  list-style-image: url('toolbar/options.png');
  }

#mark-view-read {
  list-style-image: url('toolbar/markViewRead.png');
  }

#mark-view-unread {
  list-style-image: url('toolbar/markViewUnread.png');
  }

#headlines-checkbox {
  margin-right: 8px;
}

#view-constraint-box {
  margin-right: 10px;
  }

#prev-page {
  list-style-image: url('toolbar/previousPage.png');
  }

#prev-page[disabled='true'] {
  list-style-image: url('toolbar/previousPage-disabled.png');
  }

#next-page {
  list-style-image: url('toolbar/nextPage.png');
  }

#next-page[disabled='true'] {
  list-style-image: url('toolbar/nextPage-disabled.png');
  }

#searchbar[showingDescription]  {
  color: GrayText;
  }

.search-scope-button {
  -moz-appearance: none;
  -moz-binding: none;
  -moz-box-align: center;
  cursor: default;
  margin-top: 0px;
  margin-bottom: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 4px;
  -moz-user-focus: none;
  }

.searchbar-button-image {
  margin: 0px;
  list-style-image: url('icons/search.png');
  }

.searchbar-clearbutton {
  -moz-appearance: none;
  border: none !important;
  cursor: default;
  list-style-image: url('icons/searchbar-clear.png');
  -moz-image-region: rect(0px, 16px, 16px, 0px);
  -moz-margin-start: 4px;
  -moz-margin-end: 2px;
  padding: 0px !important;
  }

.searchbar-clearbutton > .toolbarbutton-icon {
  -moz-margin-end: 0px; /* override toolkit's default value */
  }

.searchbar-clearbutton:hover {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
  padding: 0px !important;
  }

.searchbar-clearbutton:hover:active {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
  padding: 0px !important;
  }
