* {
    -moz-appearance: none;
    height: auto !important;
    width: auto !important;
    min-width: 0 !important;
    max-width: none !important;
    min-height: 0 !important;
    max-height: none !important;
    margin: 0 !important;
    padding: 0 !important;
    font-weight: normal !important;
    background-color: transparent !important;
    background: none !important;
    border: 0 !important;
    box-shadow: none !important;
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
}



page {
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff !important;
}

menupopup {
    background-color: #f2f2f2 !important;
    border: 1px solid #bdbdbd !important;
    padding: 10px !important;
}

menuitem {
    height: 25px !important;
    padding: 0 15px !important;
    font-size: 13px !important;
    color: #454545 !important;
}

menuitem:hover {
    background-color: #e5e5e5 !important;
}

menuseparator {
    border-top: 1px solid #bdbdbd !important;
    margin: 6px 10px 6px !important;
}



.brief-button {
    -moz-box-flex: 0;
    -moz-user-focus: none;
}

.brief-button > .button-box {
    padding: 0 !important;
}

.brief-button .button-text {
    margin: 0 !important;
}



/* =========== Sidebar =========== */

#sidebar {
    background-color: #f2f2f2 !important;
    min-width: 200px;
}

#sidebar-splitter,
#tag-list-splitter {
    border-left: 3px solid #f2f2f2 !important;
    border-right: 1px solid #d6d6d6 !important;
}

#sidebar-splitter:hover,
#tag-list-splitter:hover {
    border-right-color: #ffb754 !important;
}

#reveal-sidebar-button {
    list-style-image: url(reveal-sidebar.png);
    -moz-image-region: rect(0px, 12px, 20px, 0px);
    padding: 0 2px 0 2px !important;
    border-right: 1px solid #d6d6d6 !important;
    background: #fcfcfc !important;
}

#reveal-sidebar-button:hover {
    -moz-image-region: rect(20px, 12px, 40px, 0px);
    border-right-color: #ffb754 !important;
}



/* =========== Sidebar toolbar =========== */

#sidebar-top {
    border-bottom: 1px solid #d6d6d6 !important;
}

.sidebar-button-box {
    -moz-box-flex: 1;
    -moz-box-pack: center;
}

.sidebar-button {
    padding: 10px 9px 6px !important;
    font-size: 13px;
    color: #454545 !important;
}
.sidebar-button:hover {
    color: #ff6800 !important;
}
.sidebar-button .button-icon {
    display: none;
}
.sidebar-button .button-text {
    font-weight: bold !important;
}


#options-dropdown-button {
    -moz-box-pack: center !important;
}

#options-dropdown-button .button-menu-dropmarker {
    list-style-image: url(icons/dropmarker.png) !important;
    -moz-image-region: rect(0, 7px, 4px, 0) !important;
    margin-left: 5px !important;
}

#options-dropdown-button:hover .button-menu-dropmarker {
    -moz-image-region: rect(4px, 7px, 8px, 0) !important;
}



#update-progress-container {
    -moz-box-pack: center;
}

#update-progress {
    -moz-box-flex: 1;
    height: 4px !important;
    opacity: 0;
    transition: opacity 500ms;
}

#update-progress[show] {
    opacity: 1;
}

#update-progress > .progress-bar {
    background: linear-gradient(to right, #3ede34, #88ff81) !important;
}



/* =========== Rules applicable to all lists =========== */

#view-list > richlistitem[selected="true"],
#view-list:focus > richlistitem[selected="true"],
.tag-list-item[selected="true"],
richtreefolder[selected="true"] > .folder-title-container,
richtreeitem[selected="true"] {
    border-color: #ffc9a6 !important;
    background-color: #fcd7bd !important;
}

#view-list > richlistitem:hover:not([selected="true"]),
#view-list:focus > richlistitem:hover:not([selected="true"]),
.tag-list-item:hover:not([selected="true"]),
richtreefolder:not([selected="true"]) > .folder-title-container:hover,
richtreeitem:hover:not([selected="true"]) {
    border-color: #e5e5e5 !important;
    background-color: #e5e5e5 !important;
}

richtreeitem:not(.unread) > .unread-count,
richtreefolder:not(.unread) > .folder-title-container > .unread-count,
richtreefolder[open="true"] > .folder-title-container > .unread-count,
.tag-list-item:not(.unread) .unread-count {
    visibility: hidden;
}



/* =========== View list richlistbox =========== */

#view-list {
    margin: 7px 0 0 5px !important;
}

#view-list > richlistitem {
    padding: 3px 1px 2px 20px !important;
    border: 1px solid transparent !important; /* Placeholder for selection border */
    -moz-box-align: center !important;
}

#view-list > richlistitem > .view-title {
    margin: 0 4px 0 0 !important;
    font-size: 13px !important;
    font-weight: bold !important;
    color: #454545 !important;
}

#view-list > richlistitem:not(.unread) > .unread-count {
    display: none;
}



/* =========== Tag listbox =========== */

#tag-list {
    background-color: #f2f2f2 !important;
}

.tag-list-item {
    width: 150px !important;
    padding: 2px 1px 2px 5px !important;
    border: 1px solid transparent !important; /* Placeholder for selection border */
    font-size: 13px !important;
    color: #454545 !important;
    border-radius: 0 !important;
    list-style-image: url(chrome://brief/skin/icons/tag.png);
}

.tag-list-item:not(.unread) > .unread-count {
    display: none;
}
