* {
    -moz-appearance: none;
    height: auto;
    width: auto;
    min-width: 0 !important;
    max-width: none !important;
    min-height: 0 !important;
    max-height: none !important;
    margin: 0 !important;
    padding: 0 !important;
    font-weight: normal !important;
    background-color: transparent !important;
    background: none !important;
    border: 0 !important;
    box-shadow: none !important;
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
}

/* Generic boxes */
.hbox {
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
}

.vbox {
    display: flex;
    flex-flow: column;
    flex-shrink: 0;
}

*[hidden] {
    display: none;
}

.growable {
    flex-grow: 1;
}

.shrinkable {
    flex-shrink: 1;
}

.centered {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}

.spacer,
spacer[flex] {
    flex-grow: 1;
}

draggable-splitter {
    cursor: ew-resize;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff !important;
    width: 100% !important;
    height: 100% !important;
}

body {
    display: flex;
    flex-direction: row;
    width: 100% !important;
    height: 100% !important;
}


.brief-button {
    flex: none;
    -moz-user-focus: none;
    font: inherit;
}

.brief-button > .button-box {
    padding: 0 !important;
}

.brief-button .button-text {
    margin: 0 !important;
}

.brief-button::-moz-focus-inner {
    border: 0 !important;
}

/* =========== Sidebar hiding =========== */
body:not(.sidebar) #sidebar,
body:not(.sidebar) #sidebar-splitter,
body:not(.sidebar) #tag-list,
body:not(.tag-list) #tag-list,
body:not(.sidebar) #tag-list-splitter,
body:not(.tag-list) #tag-list-splitter {
    display: none;
}

body.sidebar #reveal-sidebar-button {
    display: none;
}

/* =========== Sidebar =========== */

#sidebar {
    background-color: #f2f2f2 !important;
    min-width: 250px !important;
}

#sidebar-splitter,
#tag-list-splitter {
    border-left: 3px solid #f2f2f2 !important;
    border-right: 1px solid #d6d6d6 !important;
}

#sidebar-splitter:hover,
#tag-list-splitter:hover {
    border-right-color: #ffb754 !important;
}

#reveal-sidebar-button {
    padding: 0 2px 0 2px !important;
    border-right: 1px solid #d6d6d6 !important;
    background-color: #fcfcfc !important;
}
#reveal-sidebar-button::after {
    content: "";
    display: block;
    width: 12px !important;
    height: 20px !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
    background-image: url(reveal-sidebar.png);
}

#reveal-sidebar-button:hover {
    background-position: 0 -20px;
    border-right-color: #ffb754 !important;
}
#reveal-sidebar-button:hover::after {
    background-position: 0 -20px;
}



/* =========== Sidebar toolbar =========== */

#sidebar-top {
    border-bottom: 1px solid #d6d6d6 !important;
}

.sidebar-button-box {
    min-width: 5em !important;
    overflow: hidden;
}

.sidebar-button {
    padding: 10px 9px 6px !important;
    font-size: 13px;
    font-weight: bold !important;
    color: #454545 !important;
}
.sidebar-button:hover {
    color: #ff6800 !important;
}

#sidebar-top[data-mode="update"] #update-button,
#sidebar-top[data-mode="idle"] #stop-updating-button {
    display: none;
}

#options-dropdown-button {
    min-width: -moz-max-content !important;
}
#options-dropdown-button::after {
    margin-left: 5px !important;
    vertical-align: middle;

    display: inline-block;
    content: "";
    height: 4px;
    width: 7px;
    background: url(icons/dropmarker.png);
    background-position: 0 0;
}

#options-dropdown-button:hover::after {
    background-position: 0 -4px;
}


#update-progress {
    flex: 1;
    height: 4px !important;
    opacity: 0;
    transition: opacity 500ms;
}

#update-progress[show] {
    opacity: 1;
}

#update-progress::-moz-progress-bar {
    background: linear-gradient(to right, #3ede34, #88ff81) !important;
}

#main-pane {
    flex-basis: 350px;
}
