/* Reset these properties on everything but context menu popups */
page, deck, hbox, vbox, image, richlistbox, richlistitem, button, progressmeter,
.progress-bar, .progress-remainder, textbox, splitter, browser, listbox, listitem {
    -moz-appearance: none;
    height: auto !important;
    width: auto !important;
    min-width: 0 !important;
    max-width: none !important;
    min-height: 0 !important;
    max-height: none !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent !important;
    background-image: none !important;
    border: 0 !important;
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
}



page {
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff !important;
}

.brief-button {
    -moz-box-flex: 0;
    -moz-user-focus: none;
}

.brief-button > .button-box {
    padding: 0 !important;
}

.brief-button .button-text {
    margin: 0 !important;
}



/* =========== Sidebar =========== */

#sidebar {
    background-color: #f2f2f2 !important;
    min-width: 200px;
}

#sidebar-splitter,
#tag-list-splitter {
    border-left: 3px solid #f2f2f2 !important;
    border-right: 1px solid #d6d6d6 !important;
}

#sidebar-splitter:hover,
#tag-list-splitter:hover {
    border-right-color: #ffb754 !important;
}

#reveal-sidebar-button {
    list-style-image: url(reveal-sidebar.png);
    -moz-image-region: rect(0px, 12px, 20px, 0px);
    padding: 0 2px 0 2px !important;
    border-right: 1px solid #d6d6d6 !important;
    background: #fcfcfc !important;
}

#reveal-sidebar-button:hover {
    -moz-image-region: rect(20px, 12px, 40px, 0px);
    border-right-color: #ffb754 !important;
}



/* =========== Sidebar toolbar =========== */

.sidebar-button {
    margin: 9px 9px 0 !important;
    font-size: 12px;
    list-style-image: url(icons/sidebar-buttons.png);
}
.sidebar-button .button-icon {
    margin-right: 3px !important;
}
.sidebar-button:hover {
    color: #ff6800;
}


#update-button {
    -moz-image-region: rect(0, 16px, 16px, 0);
}

#update-button .button-icon {
    margin-top: -1px !important;
}

#update-button:hover {
    -moz-image-region: rect(16px, 16px, 32px, 0);
}

#stop-updating-button {
    -moz-image-region: rect(0, 32px, 16px, 16px);
}

#stop-updating-button .button-icon {
    margin-top: -2px !important;
}

#stop-updating-button:hover {
    -moz-image-region: rect(16px, 32px, 32px, 16px);
}

#options-dropdown-button {
    -moz-image-region: rect(0, 48px, 16px, 32px);
}

#options-dropdown-button:hover {
    -moz-image-region: rect(16px, 48px, 32px, 32px)
}

#options-dropdown-button .button-menu-dropmarker {
    list-style-image: url(icons/dropmarker.png) !important;
    -moz-image-region: rect(0, 7px, 4px, 0) !important;
}

#options-dropdown-button:hover .button-menu-dropmarker {
    -moz-image-region: rect(4px, 7px, 8px, 0) !important;
}



#update-progress-container {
    -moz-box-pack: center;
    margin-top: 7px !important;
}

#update-progress {
    -moz-box-flex: 1;
    height: 7px !important;
    margin: 0 10px !important;
    border: 1px solid #37c62e !important;
    opacity: 0;
    transition: opacity 500ms;
}

#update-progress[show] {
    opacity: 1;
}

#update-progress > .progress-bar {
    background: linear-gradient(to right, #3ede34, #88ff81) !important;
}



#view-list > richlistitem[selected="true"],
#view-list:focus > richlistitem[selected="true"],
.tag-list-item[selected="true"],
richtreefolder[selected="true"] > .folder-title-container,
richtreeitem[selected="true"] {
    border-color: #ffc9a6 !important;
    background-color: #fcd7bd !important;
}



/* =========== View list richlistbox =========== */

#view-list {
    margin: 7px 0 0 20px !important;
}

#view-list > richlistitem {
    padding: 1px 1px 2px 5px !important;
    border: 1px solid transparent !important; /* Placeholder for selection border */
    -moz-box-align: center !important;
}

#view-list > richlistitem > .view-title {
    margin: 0 4px 0 0 !important;
    font-size: 14px !important;
    color: #000000 !important;
}

#view-list > richlistitem:not(.unread) > .unread-count {
    display: none;
}



/* =========== Tag listbox =========== */

#tag-list {
    background-color: #f2f2f2 !important;
}

.tag-list-item {
    width: 140px !important;
    border: 1px solid transparent !important; /* Placeholder for selection border */
    font-size: 13px !important;
    color: #000000 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    list-style-image: url(chrome://brief/skin/icons/tag.png);
}


.tag-list-item .listcell-iconic {
    border: none !important;
    padding: 0 3px !important;
}

.tag-list-item:not(.unread) > .unread-count {
    display: none;
}
