body {
  background: #fafafc;
  font-family: "Lucida Grande", Verdana, sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
  }


/* ----------------------  Header ---------------------- */

#header {
  background: #314a59 url('chrome://brief/skin/header-bkg.png') repeat-x;
  color: #ffffff;
  display: block;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  padding: 5px 5% 5px;
  text-decoration: none;
  }

#feed-image {
  border: none;
  float: right;
  margin: 0 10px 10px;
  }

#feed-title {
  font-size: 22px;
  font-weight: bold;
  }

#feed-subtitle {
  font-size: 14px;
  margin-top: 3px;
  }

#clear {
  clear: both;
  }

#feed-content {
  margin: 2em auto 0 auto;
  max-width: 80em;
  }


/* ----------------------  Article  ---------------------- */

/* .article-container may have "starred", "read", and "collapsed"
   attributes. The first two are self-explanatory while "collapsed"
   means that the article's content is folded (headlines-only mode) */
.article-container {
  background-color: #ffffff;
  border: 1px #baccd6 solid;
  -moz-border-radius: 2px;
  margin: 0 1em 1em 1em;
  overflow: visible;      /* This is for the the expand/collapse dropmarker which is
                             taken outside the box using negative margins */
  }


/* ----------------------  Article header  ---------------------- */

.article-header {
  background: url('chrome://brief/skin/unread-entry-bkg.png') repeat-x;
  min-height: 3.5em;
  padding: 6px 5px 0;
  }

.article-title-link {
  color: #0f0f0f;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  }


/* ---------------------- Article controls  ---------------------- */

.article-controls {
  display: table-cell; /* The only way I could find out to keep the buttons aligned
                          was to use vertical-align. For this we need table-cell. */
  float: right;
  font-family: Arial, sans-serif;
  font-size: 12px;
  margin-top: -3px;
  }

/*   Never change padding of the buttons as it breaks many themes  */
.article-controls button {
  min-width: 0;
  opacity: 0.8;
  vertical-align: middle;
  }

.article-controls button:hover {
  opacity: 1.0;
}

.star-container {
  float: left;
  margin: -6px 2px 0 -5px;
  padding: 5px 3px 0 5px;
}


/* ----------------------  Article subheader  ---------------------- */

.article-subheader {
  color: #4f4f4f;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 13px;
  min-height: 1.4em;
  padding: 0 2em 0 40px;
}

.article-authors, .article-date {
  float: right;
  margin-bottom: 1em;
}

.article-authors {
  padding-right: 0.3em;
}


/* ----------------------  Article content area   ---------------------- */

.article-content {
  color: #101d27;
  clear: both;
  font-size: 12px;
  overflow: auto;
  padding: 0 2.5em 1.5em;
  }

.article-content a {
  color: #0a1f72;
  }

.article-content a:visited	{
  color: #444b66;
  }

.article-content > *:first-child {
  margin-top: 0 !important;;
}

.article-content img {
  margin: 5px;
}

.article-content pre, .article-content code {
  font-family: "Courier New", monospace;
  font-size: 1em;
  }



/*  ----------------------  Adjustments for read articles  ---------------------- */

.article-container[read] {
  border-color: #bcc8cb;
  }

.article-container[read] .article-header {
  background: url('chrome://brief/skin/read-entry-bkg.png') repeat-x;
  }

.article-container[read] .article-title-link {
  font-weight: normal;
  }


/* ----------------------  Adjustments for the headlines mode  ---------------------- */

.article-container[collapsed] {
  background: #fafafc;
  border-bottom: none;
  border-right: none;
  border-left: none;
  clear: both;
  margin-bottom: 0;
  padding: 0 1px 1em 1px; /* Compensate the lack of border, so it doesn't shift */
}

.article-container[collapsed] .article-controls,
.article-container[collapsed] .article-content {
  display: none;
}

.article-container[collapsed]:hover .article-controls {
  display: table-cell;
}

.expand-button {
  display: none;
  float: left;
  height: 6em;
  margin: -5px 0 0 -48px;
  width: 42px;
}

#feed-content[showHeadlinesOnly] .expand-button {
  display: block;
}

#feed-content[showHeadlinesOnly] .article-container {
  margin-left: 40px; /* Makes space for the expand arrow */
}

#feed-content[showHeadlinesOnly] .article-container:hover .expand-button {
  background: url(chrome://brief/skin/icons/expand-button.png) 15px 5px no-repeat;
}

/* ----------------------  Adjustments for the selected articles  -------------------- */
.article-container[selected] {
  border: 1px #1474d6 solid;
  padding-left: 0;
  padding-right: 0;
}
