richtree {
    -moz-binding: url(chrome://brief/content/richtree.xml#richtree);
}

#feed-list {
    margin-top: 15px !important;
    padding-left: 5px !important;
}



/* =========== Feeds =========== */

richtreeitem {
    -moz-binding: url(chrome://brief/content/richtree.xml#richtreeitem);
    -moz-box-align: center;
    border: 1px solid transparent !important; /* Placeholder for selection border */
    padding: 2px 1px 2px 5px !important;
}

.feed-icon {
    width: 16px !important;
    height: 16px !important;
    margin-right: 6px !important;
    list-style-image: url(icons/default-feed-favicon.png);
}

.feed-title {
    font-size: 13px !important;
    color: #454545 !important;
}

.unread-count,
.tag-list-item > .listcell-iconic::after {
    min-width: 2em !important;
    margin-left: 5px !important;
    text-align: center;
    font-size: 13px !important;
    font-weight: bold !important;
    color: #539bcf !important;
}



/* =========== Folders =========== */

richtreefolder {
    -moz-binding: url(chrome://brief/content/richtree.xml#richtreefolder);
    -moz-box-orient: vertical;
    margin: 10px 0 13px !important;
}

richtreefolder + richtreefolder,
richtreefolder:first-child {
    margin-top: 0 !important;
}

richtreefolder:last-child {
    margin-bottom: 0 !important;
}



richtreefolder > .folder-title-container {
    padding: 2px 1px 2px 5px !important;
    border: 1px solid transparent !important; /* Placeholder for selection border */
    -moz-box-align: center;
    display: flex;
}

.folder-title {
    color: #454545;
    font-size: 13px !important;
    font-weight: bold !important;
    flex-shrink: 1;
}

.folder-title-spacer {
    flex-basis: 0;
    flex-grow: 1;
}

.folder-twisty {
    padding: 3px 5px 3px !important;
    list-style-image: url(icons/twisty.png);
    -moz-image-region: rect(0, 22px, 11px, 11px);
    opacity: 0;
    transition: opacity 200ms;
}

.folder-twisty:hover {
    -moz-image-region: rect(11px, 22px, 22px, 11px);
}

.folder-title-container:hover > .folder-twisty {
    opacity: 1;
}

richtreefolder[open="true"] > .folder-title-container > .folder-twisty {
    -moz-image-region: rect(0px, 11px, 11px, 0px);
    padding: 5px 5px 1px !important;
}

richtreefolder[open="true"] > .folder-title-container > .folder-twisty:hover {
    -moz-image-region: rect(11px, 11px, 22px, 0px);
}



.folder-container {
    display: none;
    padding-top: 2px !important;
}

richtreefolder[open="true"] > .folder-container {
    display: -moz-box;
}

/* Indentation for first level nesting */
richtreefolder[open="true"] > .feed-treeitem,
richtreefolder[open="true"] > richtreefolder > .folder-title-container {
    padding-left: 20px !important;
}

/* Indentation for second level nesting */
richtreefolder[open="true"] > richtreefolder[open="true"] > .feed-treeitem,
richtreefolder[open="true"] > richtreefolder[open="true"] > richtreefolder > .folder-title-container {
    padding-left: 40px !important;
}

/* Indentation for third level nesting */
richtreefolder[open="true"] > richtreefolder[open="true"] > richtreefolder[open="true"] > .feed-treeitem,
richtreefolder[open="true"] > richtreefolder[open="true"] > richtreefolder[open="true"] > richtreefolder > .folder-title-container {
    padding-left: 60px !important;
}
