richtree {
    -moz-binding: url(chrome://brief/content/richtree.xml#richtree);
}

richtreeitem {
    -moz-binding: url(chrome://brief/content/richtree.xml#richtreeitem);
}

richtreefolder {
    -moz-binding: url(chrome://brief/content/richtree.xml#richtreefolder);
}

richtreeitem {
    -moz-box-align: center;
    border: 1px solid transparent !important; /* Placeholder for selection border */
    padding: 2px 1px 2px 5px !important;
}


#feed-list {
    margin-top: 15px !important;
}

.feed-icon {
    width: 16px !important;
    height: 16px !important;
    margin-right: 6px !important;
    list-style-image: url(icons/default-feed-favicon.png);
}

.feed-title {
    font-size: 13px !important;
}

.unread-count {
    min-width: 2em !important;
    margin-left: 5px !important;
    text-align: center;
    font-size: 13px !important;
    font-weight: bold !important;
    color: #539bcf !important;
}

richtreeitem:not(.unread) > .unread-count,
richtreefolder:not(.unread) > .folder-title-container > .unread-count,
richtreefolder[open="true"] > .folder-title-container > .unread-count,
.tag-list-item:not(.unread) .unread-count {
    display: none;
}



richtreefolder {
    -moz-box-orient: vertical;
}

richtreefolder > .folder-title-container {
    margin: 0 0 5px !important;
    padding: 3px 1px 0 5px !important;
    border: 1px solid transparent !important; /* Placeholder for selection border */
    -moz-box-align: center;
}

.folder-title {
    color: #454545;
    font-size: 13px !important;
    font-weight: bold !important;
    border-bottom: 1px solid #d6d6d6;
    padding: 0 0 3px 2px;
}

richtreefolder[selected="true"] .folder-title {
    border-bottom: none;
    padding-bottom: 4px;
}

.folder-twisty {
    margin-right: 1em !important;
    padding: 4px 5px !important;
    list-style-image: url(icons/twisty.png);
    -moz-image-region: rect(0, 22px, 11px, 11px);
    opacity: 0;
    transition: opacity 200ms;
}

.folder-twisty:hover {
    -moz-image-region: rect(11px, 22px, 22px, 11px);
}

.folder-title-container:hover > .folder-twisty {
    opacity: 1;
}

richtreefolder[open="true"] > .folder-title-container > .folder-twisty {
    -moz-image-region: rect(0px, 11px, 11px, 0px);
    margin-right: 3em !important;
}

richtreefolder[open="true"] > .folder-title-container > .folder-twisty:hover {
    -moz-image-region: rect(11px, 11px, 22px, 0px);
}

.folder-container {
    display: none;
    margin-bottom: 10px !important;
    padding-left: 20px !important;
}

richtreefolder[open="true"] > .folder-container {
    display: -moz-box;
}

richtreeitem + richtreefolder {
    margin-top: 5px !important;
}