#feed-view-header {
    -moz-box-align: center;
    height: 40px !important;
    padding: 0 10px !important;
    border-bottom: 1px solid #d6d6d6 !important;
    overflow: hidden;
    background: #fcfcfc !important;
}



/* =========== View title =========== */

#feed-title-box {
    display: -moz-box;
    margin: 2px 0 0 14px !important;
    /* These are to cut off the later lines when the title wraps. */
    overflow: hidden;
    line-height: 36px;
    max-height: 36px !important;
}

#feed-title {
    color: #606b78;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

#feed-title.feed-link:hover {
    text-decoration: underline;
}



/* =========== View type buttons =========== */

.button-spacer {
    max-width: 60px !important;
    min-width: 20px !important;
}

.view-button,
#mark-view-read {
    -moz-image-region: rect(0px, 22px, 22px, 0px);
}

.view-button:hover,
#mark-view-read:hover {
    -moz-image-region: rect(22px, 22px, 44px, 0px);
}

.view-button:active,
#mark-view-read:active,
.view-button[checked] {
    -moz-image-region: rect(44px, 22px, 66px, 0px);
}

#headlines-checkbox {
    list-style-image: url(icons/view-headlines.png);
}

#full-view-checkbox {
    list-style-image: url(icons/view-full-items.png);
    margin-left: 11px !important;
}



/* =========== View filter buttons =========== */

.filter-button {
    -moz-image-region: rect(0px, 23px, 23px, 0px);
}

.filter-button:hover {
    -moz-image-region: rect(23px, 23px, 46px, 0px);
}

.filter-button:active,
.filter-button[checked] {
    -moz-image-region: rect(46px, 23px, 69px, 0px);
}


#show-all-entries-checkbox {
    list-style-image: url(icons/show-all-items.png);
}

#filter-unread-checkbox {
    list-style-image: url(icons/show-unread-items.png);
    margin-left: 11px !important;
}

#filter-starred-checkbox {
    list-style-image: url(icons/show-starred-items.png);
    margin-left: 11px !important;
}

#mark-view-read {
    list-style-image: url(icons/mark-view-read.png);
}



#searchbar {
    width: 150px;
    margin: 6px 0 6px 0 !important;
    padding: 0 3px 0 5px !important;
    border: 1px solid #9dabb8 !important;
    border-radius: 4px;
    font-size: 12px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}


#searchbar .textbox-input {
    color: #4a6278 !important;
    font-style: normal !important;
}
