.article-container {
  -moz-binding: url('chrome://brief/content/bindings.xml#article');
}

.article-header {
    -moz-binding: url('chrome://brief/content/bindings.xml#article-header');
}

#feed-content[trash] .delete-entry {
  display: none;
  }

#feed-content:not([trash]) .restore-entry {
  display: none;
  }

/* ----------------------  Article button images ------------------- */
.article-controls > * {
  display: inline-block;
}

.mark-read {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #326585;
  text-align: center;
  cursor: default;
  -moz-user-select: none;
  margin-right: 3px;
}

.mark-read > * {
  display: table-cell;
  height: 25px;
}

.mark-read-left, .mark-read-right {
  background-image: url(chrome://brief/skin/mark-read-button-endcaps.png);
  width: 7px;
}

.mark-read-centre {
  background-image: url(chrome://brief/skin/mark-read-button-centre.png);
  padding: 0 1px;
  min-width: 70px;
  vertical-align: middle;
}

.mark-read-right {
  background-position: -7px 0;
}

.mark-read:hover > .mark-read-right {
  background-position: -7px -25px;
}

.delete-entry, .restore-entry {
  width: 29px;
  height: 25px;
}

.delete-entry {
  background-image: url(chrome://brief/skin/delete-button.png);
}

.restore-entry {
  background-image: url(chrome://brief/skin/restore-button.png);
}

.delete-entry:hover,
.restore-entry:hover,
.mark-read:hover > .mark-read-centre,
.mark-read:hover > .mark-read-left {
  background-position: 0 -25px;
}


/* ----------------------  Article content area   ---------------------- */

/* Reset the top margin, so that the gap between
   header and content is always the same */
.article-content > *:first-child {
  margin-top: 0 !important;
}

.article-content img {
  margin: 0.75em;
}

blockquote {
  font-style: italic;
}

pre, code {
  font-family: "Courier New", monospace;
  font-size: 1em;
}



/* ----------------------  Adjustments for headlines view   ---------------------- */

.article-container[collapsed] .article-controls,
.article-container[collapsed] .article-subheader {
  display: none;
}

.collapsed-article-subheader {
    display: none;
}

.article-container[collapsed] .collapsed-article-subheader {
    display: block;
}

/* Shows controls on hover */
.article-container[collapsed]:hover .article-controls {
  display: table-cell;
}

/* Turn on expand arrow in headlines view */
#feed-content[showHeadlinesOnly] .expand-button {
  display: block;
}

#feed-content[showHeadlinesOnly] {
  padding-left: 30px; /* Makes space for the expand button */
}

/* Display the expand arrow when hovering an article */
#feed-content[showHeadlinesOnly] > .article-container:hover .expand-button {
  background: url(chrome://brief/skin/icons/expand-button.png) no-repeat;
  background-position: 5px 5px;
}



/* ----------------------  Shortcuts overlay   ---------------------- */

#shortcuts-frame {
  margin: 0 auto !important;
}

#shortcuts-body {
  margin: 0;
}

#shortcuts-table {
    font-size: 12px;
    font-family: "Lucida Grande", Verdana, sans-serif;
    border-spacing: 0;
    margin: 0 auto;
}

#shortcuts-table td {
    padding: 3px 10px;
    border-bottom: 1px solid lightgray;
}

.shortcut-key {
    border-right: 1px solid lightgray;
    font-weight: bold;
    text-align: center;
}

.shortcuts-plain {
    font-weight: normal;
}

#shortcuts-table .shortucts-header {
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
}

.onlyMac {
  display: none;
}
