* {
    padding: 0;
	margin: 0;
    }

html, body {
	height: 100%;
	width: 100%;
    }

body {
    display: -moz-box;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 13px;
    background: -moz-linear-gradient(top, #c0e3f0, #eaf6fa 50%, #eaf6fa);
    }

div {
    display: -moz-box;
    }

#page {
    -moz-box-orient: vertical;
    -moz-box-pack: center;
    -moz-box-align: center;
    -moz-box-flex: 1;
    padding: 10px;
    padding-bottom: 80px;
    }

#header {
    -moz-box-align: start;
}

#intro {
    -moz-box-orient: vertical;
    -moz-box-align: start;
    margin-left: 15px;
    }

#thank-you {
    width: -moz-fit-content;
    padding: 0 5px 2px 0;
    border-bottom: 1px solid #f1601a;
    margin-bottom: 8px;
    color: #f1601a;
    }

#subscribe {
    color: #2c566c;
    font-size: 18px;
    max-width: 930px;
    }

#home-folder {
    display: inline-block;
    padding-left: 20px;
    background: url(chrome://digest/skin/icons/folder.png) center left no-repeat;
    color: #0082c6;
    border-bottom: 2px solid transparent;
    }

#home-folder:hover {
    border-bottom-color: #0082c6;
    cursor: pointer;
    }

#guide {
    margin-top: 40px;
    }

.step {
    -moz-box-orient: vertical;
    width: 300px;
    margin: 0 10px;
    color: #00344f;
    text-align: center;
    font-family: "Lucida Grande", Verdana, sans-serif;
    font-size: 13px;
    }

.screenshot-container {
    -moz-box-align: center;
    -moz-box-pack: center;
    height: 160px;
    margin-bottom: 15px;
    }

.screenshot {
    -moz-box-shadow: 5px 5px 5px #97b4be;
    }

#open-brief {
    display: -moz-box;
    cursor: pointer;
    margin-top: 70px;
    padding: 5px 20px 8px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    text-shadow: -1px -1px 1px #7BAB29;
    border: 1px solid #488F03;
    border-radius: 10px;
    background: url(chrome://digest/skin/get-started-button.png) repeat-x center;
    }

#open-brief:hover {
    background-image: url(chrome://digest/skin/get-started-button-hover.png);
    }
