* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: "Lucida Grande", Verdana, sans-serif;
    font-size: 13px;
}

h1 {
    padding: 8px 0 8px 30px;
    background: url('chrome://brief/skin/header-bkg.png') repeat-x top right;
    background-color: #203f4f;;
    border-bottom: 10px solid #acb5bf;
    -moz-border-bottom-colors: #f6f9fc #f2f4f8 #eceff4 #e5eaee #dfe3e9 #d9dee3 #cdd3da #c1c8d0 #b5bec6 #acb5bf;
    color: #cedbe0;
    font-size: 22px;
    word-spacing: 5px;
    text-align: center;
}

#container {
    padding: 0 20px;
}


#intro {
    padding: 6px 0 0 0;
    margin-top: 20px;
    padding-left: 120px;
    width: 500px;
    height: 25px;
    background: url('http://brief.mozdev.org/guide/') no-repeat #ffd5ba;
    background-position: 20px 5px;
    border: 1px solid #dcb7a1;
    -moz-border-radius: 5px;
    -moz-box-shadow: #e8e2df 5px 5px 5px;
    font-size: 14px;
    font-weight: bold;
}

#guide {
    margin-top: 50px;
}

h2 {
    font-size: 15px;
}

.step {
    overflow: auto;
    clear: both;
    padding: 20px 0;
    width: 625px;
    border-bottom: 1px solid #a5acb0;
}

.step:last-child {
    border-bottom: none;
}

.description {
    float: left;
    display: block;
    width: 350px;
    text-align: justify;
}

.screenshot-box {
    float: left;
    width: 250px;
    padding-right: 15px;
}

.screenshot {
    display: block;
}
