radio[pane] {
  list-style-image: url('icons/prefpane-icons.png');
}

radio[pane=main-pane] {
  -moz-image-region: rect(0px, 32px, 32px, 0px);
 }

radio[pane=display-pane] {
  -moz-image-region: rect(32px, 32px, 64px, 0px);
  }

radio[pane=feeds-pane] {
  -moz-image-region: rect(64px, 32px, 96px, 0px);
  }

#folders-tree {
  height: 15em;
  margin-bottom: 1em;
  }

groupbox {
  -moz-box-flex: 1;
}
