radio[pane=mainPane] {
  list-style-image: url('chrome://brief/skin/icons/prefPane-main.png');
 }
 
radio[pane=feedsPane] {
  list-style-image: url('chrome://brief/skin/icons/prefPane-feeds.png');
  }
  
#folders-tree {
  height: 15em;
  margin-bottom: 1em;
  }
