/*
 * Style rules in this are copied and adapted from the default theme,
 * because Brief's toolbar button don't use the default structure.
 */

toolbar #brief-button-icon {
    padding: 3px 0;
}

#nav-bar #brief-button-inner-box {
    padding: 0 6px;
    border: 1px solid;
    border-color: transparent;
    transition-property: background-color, border-color;
    transition-duration: 150ms;
}

@media (-moz-os-version: windows-vista),
       (-moz-os-version: windows-win7) {
    /* < Win8 */
    #nav-bar #brief-button-inner-box {
          background-color: hsla(210,32%,93%,0);
          background-origin: padding-box;
          border-radius: 2px;
          border-color: hsla(210,54%,20%,0) hsla(210,54%,20%,0) hsla(210,54%,20%,0);
          box-shadow: 0 1px hsla(0,0%,100%,0) inset,
                      0 1px hsla(210,54%,20%,0),
                      0 0 2px hsla(210,54%,20%,0);
          transition-property: background-color, border-color, box-shadow;
          transition-duration: 150ms;
    }
}


#nav-bar #brief-button:not([disabled=true]):not([checked]):not([open]):not(:active):hover > #brief-button-inner-box {
    background-color: hsla(210,4%,10%,.08);
    border-color: hsla(210,4%,10%,.1);
}

#nav-bar #brief-button:not([disabled]):not([checked]):not([open]):not(:active):hover > #brief-button-inner-box {
    background-image: linear-gradient(hsla(0,0%,100%,.6), hsla(0,0%,100%,.1));
    background-color: transparent;
    border-color: hsla(210,54%,20%,.15) hsla(210,54%,20%,.2) hsla(210,54%,20%,.25);
    box-shadow: 0 1px hsla(0,0%,100%,.3) inset,
                0 1px hsla(210,54%,20%,.03),
                0 0 2px hsla(210,54%,20%,.1);
  }


#nav-bar #brief-button:not([disabled=true]):-moz-any([open],[checked],:hover:active) > #brief-button-inner-box {
    background-color: hsla(210,4%,10%,.12);
    border-top-color: hsla(210,4%,10%,.2);
    box-shadow: 0 1px 0 0 hsla(210,4%,10%,.1) inset;
    transition-duration: 10ms;
}

@media (-moz-os-version: windows-vista),
       (-moz-os-version: windows-win7) {
    /* < Win8 */
    #nav-bar #brief-button:not([disabled]):-moz-any([open],[checked],:hover:active) > #brief-button-inner-box {
        background-image: linear-gradient(hsla(0,0%,100%,.6), hsla(0,0%,100%,.1));
        background-color: hsla(210,54%,20%,.15);
        border-color: hsla(210,54%,20%,.3) hsla(210,54%,20%,.35) hsla(210,54%,20%,.4);
        box-shadow: 0 1px 1px hsla(210,54%,20%,.1) inset,
                    0 0 1px hsla(210,54%,20%,.2) inset,
                    /* allows keyhole-forward-clip-path to be used for non-hover as well as hover: */
                    0 1px 0 hsla(210,54%,20%,0),
                    0 0 2px hsla(210,54%,20%,0);
        text-shadow: none;
        transition: none;
    }
}
