#brief-button {
    list-style-image: url(chrome://brief/skin/brief-icon-16.png);
}

#brief-button[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #brief-button {
    list-style-image: url(chrome://brief/skin/brief-icon-32.png);
}

/* High-resolution displays */
@media (min-resolution: 2dppx) {
    #brief-button {
        list-style-image: url(chrome://brief/skin/brief-icon-32.png);
    }
    #brief-button[cui-areatype="menu-panel"],
    toolbarpaletteitem[place="palette"] > #brief-button {
        list-style-image: url(chrome://brief/skin/brief-icon-64.png);
    }
}

#brief-button .toolbarbutton-badge {
  background-color: grey;
}

/* We crop the badge manually to hack around mozilla#1213895, support
 * Firefox 38 and leave the least-significant digits */
#brief-button .toolbarbutton-badge,
#brief-button .toolbarbutton-badge::after {
  max-width: 4.5em;
}


#brief-tooltip-last-updated {
  margin-bottom: 0.75em;
}

#brief-tooltip-no-unread {
  font-weight: bold;
}

#brief-tooltip-feed-name {
  max-width: 15em;
}
