#brief-button {
    -moz-box-align: center;
    -moz-box-orient: horizontal;
    list-style-image: url(chrome://brief/skin/feed-icon-16x16.png);
}

#brief-button .toolbarbutton-icon {
    -moz-margin-end: 0;
}

.brief-status-counter {
    margin: 0;
}
