#brief-button {
    list-style-image: url(chrome://brief/skin/toolbarbutton.png);
    -moz-box-align: center;
    -moz-box-orient: horizontal;
}

toolbar[iconsize=small] #brief-button {
    list-style-image: url(chrome://brief/skin/feed-icon-16x16.png);
}

toolbar[mode=full] #brief-status-counter {
    display: none;
}

#brief-tooltip-last-updated {
  margin-bottom: 0.75em;
}

#brief-tooltip-no-unread {
  font-weight: bold;
}

#brief-tooltip-feed-name {
  max-width: 15em;
}



/* This needs to be a <menupopup> to correctly display menuitems,
   but we want the look of an arrow panel */
.brief-panel {
    -moz-appearance: none;
    -moz-binding: url("chrome://global/content/bindings/popup.xml#arrowpanel");
    background: transparent;
    border: none;
}

.brief-panel > .panel-arrowcontainer > .panel-arrowbox .panel-arrow {
    list-style-image: url(panel-arrow.svg);
}

.brief-panel > .panel-arrowcontainer > .panel-arrowcontent {
    border-radius: 4px;
    padding: 10px;
    background: #f2f2f2;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    margin: 4px;
}

.brief-panel-menuitem {
    -moz-appearance: none;
    height: 25px;
    padding: 0 15px;
    font-size: 13px;
    color: #454545;
    background: transparent; /* Necessary to avoid weird brief flashes of the
                                original background color when hovering rapidly */
}

.brief-panel-menuitem:hover {
    background: #e5e5e5;
}

.brief-panel-menuitem > .menu-accel-container {
    display: none;
}

.brief-panel-menuitem > .menu-text {
    -moz-padding-start: 0px !important;
    -moz-appearance: none;
}

.brief-panel-menuseparator {
    -moz-appearance: none;
    margin: 6px 10px 6px;
    padding: 0;
    border-top: 1px solid #bdbdbd;
    border-bottom: none;
}
