#brief-button {
    list-style-image: url(chrome://brief/skin/toolbarbutton.png);
}

toolbar[iconsize=small] #brief-button {
    list-style-image: url(chrome://brief/skin/feed-icon-16x16.png);
}

#brief-tooltip-last-updated {
  margin-bottom: 0.75em;
}

#brief-tooltip-no-unread {
  font-weight: bold;
}

#brief-tooltip-feed-name {
  max-width: 15em;
}

.unread-entries-count {
  font-weight: bold;
  margin-right: 0px;
}